body {
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}
body button{
    cursor: pointer;
}
.sprite {
    background-image: linear-gradient(transparent,transparent),url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
main .centralLogo{
    left: 38px;
    top: 158px;
    position: absolute;
    width: 200px;
}
 .central_elements{
    width: 270px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
main h1 .wiki_log {
    background-position: 0 -254px;
    width: 176px;
    height: 32px;
}
main h1 .wiki_log_text{
    color: rgba(0, 0, 0, 0);
}
.centrado_elementos_titulo{
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
}
.Slogan{
    display: block;
    font-family: Linux Libertine,Georgia,Times,serif;
    font-size: 15px;
    font-weight: 400;
}
.contenedor-idiomas{
    height: 325px;
    width: 546px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
}
.lang {
    position: absolute;
    width: 156px;
}
.lang1{
    top: 0;
    right: 60%;

}
.lang2{
    top: 0;
    left: 60%;
}
.lang3{
    top: 20%;
    right: 70%;
}
.lang4{
    top: 20%;
    left: 70%;
}
.lang5{
    top: 40%;
    right: 72%;
}
.lang6{
    top: 40%;
    left: 72%;
}
.lang7{
    top: 60%;
    right: 70%;
}
.lang8{
    top: 60%;
    left: 70%;
}
.lang9{
    top: 80%;
    right: 60%;
    
}
.lang10{
    top: 80%;
    left: 60%;
}
.lang a{
    display: block;
    padding: 0;
    text-decoration: none;
    white-space: normal;
}
a{
    unicode-bidi: embed;
    outline: 0;
    color: #36c;
}
.lang a strong {
    display: block;
    font-size: 16px;
}
a small{
    color: #54595d;
}

.contenedor-barra-busqueda{
    float: none;
    max-width: 95%;
    width: 540px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.serch-container{
    display: inline-block;
    position: relative;
    width: 73%;
    vertical-align: top;
}
.search-input{
    width: 100%;
    height: 40px;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
}
.search-input:focus-visible{;
    outline-color: #36c;
}
.buttom-serch{
    height: 44px;
    width: 56px;
    background-color: #36c;
    border: 1px solid #36c;
    color: #fff;
    
}
.buttom-serch:hover{
    background-color:rgb(17, 83, 216) ;
}
.svg-icon{
    background-position: 0 -697px;
    width: 22px;
    height: 22px;
}


.contenedor-boton-idiomas{
    text-align: center;
    margin-top: 35px;
}
.boton-idiomas{
    display: inline;
    
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    color: #36c;
    width: 268px;
    height: 36px;
    font-weight: 700 ;
    font-size: 14px;
    padding: 6px 12px;
}
.boton-idiomas i{
    display: inline-block;
    vertical-align: middle;
}
.texto-idiomas{
    padding: 0 6px;
    vertical-align: middle;
}
.icono-chino{
    background-position: 0 -617px;
    width: 22px;
    height: 22px;
}
.icono-flecha{
    background-position: 0 -527px;
    width: 14px;
    height: 14px;
}
main hr, img {
    border: 0;
}
main hr{
    clear: both;
    height: 0;
    border-bottom: 1px solid #c8ccd1;
    margin: 26px 13px;
}

.barra-lateral-iz{
    width: 100%;
}
.sidebar1{
    position: relative;
    width: 35%;
    float: left;
    clear: left;
    margin-bottom: 3.2rem;
    vertical-align: top;
}
.sidebar1-content{
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}
.iconposition1{
    position: absolute;
    top: 0px;
    left: 8px;
}
.text-position{
    position: relative;
    margin: 0;
    padding-left: 6rem;
    padding-right: 2rem;
    color: #54595d;
    font-size: 13px;
}


.logo-sidebar-wikimedi{
    background-position: 0 -212px;
    width: 42px;
    height: 42px;
}
.logo-sidebar-wikiapp{
    background-position: 0 -719px;
    width: 42px;
    height: 42px;
}
.play-icon{
    display: inline-block;
    width: 124px;
    height: 38px;
    cursor: pointer;
}
.apple-icon{
    display: inline-block;
    width: 110px;
    height: 38px;
    cursor: pointer;
}
.contenidos-derechos{
    display: inline-block;
    width: 65%;
}
.contenido-derecho{
    float: left;
    position: relative;
    width: 33%;
    height: 90px;
}
.contenido-links{
    display: inline-block;
    height: 50px;
    width: 90%;
    padding: 1em;
    white-space: nowrap;
}
.contenido-icono{
    display: inline-block;
    width: 50px;
    text-align: center;
}
.contenido-texto{
    max-width: 65%;
    font-size: 14px;
    vertical-align: middle;
    white-space: normal;
    display: inline-block;
}
.contenido-texto-tags, .contenido-texto-titulo{
    display: block;
}
.contenido-texto-titulo{
    color: #36c;
}
.contenido-texto-tags{
    color: #54595d;
    font-size: 13px;
}
.svg1{
    background-position: 0 0;
    width: 47px;
    height: 47px;
}
.svg2{
    background-position: 0 -446px;
    width: 36px;
    height: 36px;
}
.svg3{
    background-position: 0 -482px;
    width: 37px;
    height: 37px;
}
.svg4{
    background-position: 0 -126px;
    width: 37px;
    height: 37px;
}
.svg5{
    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister.png);
    background-position: 0 0;
    background-size: 47px 26px;
    width: 47px;
    height: 26px;
}
.svg6{
    background-position: 0 -163px;
    width: 49px;
    height: 49px;
}
.svg7{
    background-position: 0 -409px;
    width: 43px;
    height: 37px;
}
.svg8{
    background-position: 0 -286px;
    width: 42px;
    height: 42px;
}
.svg9{
    background-position: 0 -47px;
    width: 42px;
    height: 42px;
}
.svg10{
    background-position: 0 -328px;
    width: 39px;
    height: 39px;
}
.svg11{
    background-position: 0 -367px;
    width: 42px;
    height: 42px;
}
.svg12{
    background-position: 0 -89px;
    width: 37px;
    height: 37px;
}
.licencia small:after{
    content: "\2022";
    display: inline-block;
    font-size: 13px; 
     line-height: inherit;
    margin-left: .8rem;
    margin-right: .5rem;
}
.licencia{
    display: inline-block;
    color: #54595d;
    text-align: center;
    width: 100%;
}
.hr{
    margin-top: 20px;
}